@charset 'UTF-8';
* {
	margin: 0;
	padding: 0;
}

/* CARUSEL *********************************** */

.carousel-hider {
    width: 220px;
    overflow: hidden;
    float: left;
	border-radius: 5px;
						background: rgba(155, 155, 155, 0.5);
}

.carousel-list {    
    list-style: none;
	width: 10000px;
	padding: 0;
    position: relative;
}
 
.carousel-element {
    display: block;
    margin: 10px 10px 10px 10px;
    float: left;
						background: rgba(251, 251, 251, 0.7);
}
 
.carousel-element img {
    max-width: 200px;
}

.carousel-element p {
    text-align: center;
	font-family: arial, helvetica, tahoma;
}

.carousel-arrow-left, 
.carousel-arrow-right {
    float: left;
    display: block;
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 50px;
	font-size: 30px;
	border-radius: 5px;
}

.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}
 
.carousel-arrow-left {
    margin-right: 5px;
}
 
.carousel-arrow-right {
    margin-left: 5px;
}

.clearAfter {
	clear: both;
	margin-bottom: 50px;
}

