*{
	margin:0;
	padding-left:0;
	padding-right:0;
	padding-top:7px;
	padding-bottom:7px;
}
.classblock {
	background-color:white;
	width:550px;
}
h1 {
    font-size:30px;
	text-align:center;
}
p {
    font-size: 20px;
	text-align:left;
	margin-left:30px;
}
ul {
    font-size: 20px;
	text-align:left;
	padding-left:55px;
}
hr {
	size:1px;
	width:500px;
	color:black;
	padding-top:0px;
	padding-bottom:0px;
}
img{
	padding:20px;	
}
a {
	text-align:left;
    font-size: 20px;
	margin-left:30px;
}
